<div class="pl-3">
  <h1>Modifications</h1>

  <p-scrollPanel [style]="{ width: '100%', height: 'calc(100vh - 11rem)' }">
    <p-accordion [(activeIndex)]="activeIndex">
      <p-accordionTab
        *ngFor="let modification of modifications | async"
        [transitionOptions]="'0ms'"
      >
        <ng-template pTemplate="header">
          {{ modification.location.getFormattedName() }}
          <button
            pButton
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger p-button-text absolute right-0 mr-3"
            (click)="deleteModification($event, modification)"
          ></button>
        </ng-template>
        <app-gcode-insert-list
          [modification]="modification"
        ></app-gcode-insert-list>
      </p-accordionTab>
    </p-accordion>
  </p-scrollPanel>
  <footer class="flex flex-row justify-content-end pt-3">
    <button
      pButton
      type="button"
      icon="pi pi-plus"
      label="Add modification"
      (click)="addModification()"
    ></button>
  </footer>
</div>
