<div class="h-full w-full flex justify-content-center align-items-center">
  <div class="flex flex-column container" pFocusTrap>
    <button
      pButton
      (click)="openDialog()"
      type="button"
      i18n-label="Open file|Open file button text@@openFileButton"
      label="Open file"
      icon="pi pi-file"
    ></button>
    <h2
      i18n="
        Recently opened files|A subheader for recently opened files
        section@@recentlyOpenedFiles"
      class="text-500 text-base mb-1 mt-3"
    >
      Recently opened
    </h2>
    <div class="flex flex-column align-items-stretch">
      <button
        pButton
        (click)="openFile(file)"
        *ngFor="let file of recentlyOpenedFiles | async"
        type="button"
        [label]="file"
        class="p-button-text p-button-secondary text-left word-break-button"
      ></button>
    </div>
  </div>
</div>
